@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face { 
  font-family: "Minecraftia";
  src: url("@/public/Minecraftia-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Minecraft style button */
.mc-button {
	width: 100%;
	padding: 0px;
	font-size: 1.25rem;
	cursor: pointer;
	overflow: hidden;
	white-space: nowrap;
	user-select: none;
	display: flex;
	align-items: center;
	justify-content: center;

	background: #999 url('https://i.ibb.co/rb2TWXL/bgbtn.png') center / cover;
	image-rendering: pixelated;
	border: 2px solid #000;

	/* Mouse over */
	&:hover .title {
		background-color: rgba(100, 100, 255, .45);
		text-shadow: 2px 2px #202013CC;
		color: #FFFFA0;
	}
	&:active .title {
		box-shadow: inset -2px -4px #0004, inset 2px 2px #FFF5;
	}
	/* Button title */
	.title {
		margin: 0;
		padding: 18px 24px 10px 24px;
		width: 100%; height: 100%;		
		color: #DDD;
		text-shadow: 2px 2px #000A;
		box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
	}
}

html {
  font-family: "Minecraftia", sans-serif;
}

@keyframes splashPop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.minecraft-splash {
  animation: splashPop 1s ease-out infinite;
}

.page-book {
    font-size: 18px;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    background: url("/book.png") no-repeat center top;
    word-break: keep-all;
    text-align: left;
    background-size: contain;
    line-height: 22px;
	padding: 50px 40px 100px 48px;
}